header {
  border-radius: 1px solid;
}

.reddit-icon-svg {
  height: 50px;
  padding: 8px 8px 8px 0;
  width: 50px;
}

.reddit-text {
  font-weight: 700;
  height: 50px;
  width: 50px;
}

.logo {
  text-decoration: none;
}

.login, .sign-up {
  background-color: transparent;
  color: #0079D3;
  box-sizing: border-box;
}

.sign-up {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
}

.sign-up:hover {
  opacity: 0.6;
}
