<div class="login-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center"><h4>Login</h4></div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row form-group">
              <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
              <div class="col-md-6">
                <input type="text" formControlName="username" id="username" class="form-control" required autofocus>
                <span *ngIf="username.invalid && username.touched">
                  Please provide a valid username
                </span>
              </div>
            </div>

            <div class="row form-group">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input type="password" formControlName="password" id="password" class="form-control" required>
                <span *ngIf="password.invalid && password.touched">
                  Password cannot be empty
                </span>
              </div>
            </div>

            <span class="col-md-6 offset-md-4">
              <button type="submit" class="login">Login</button>
              <span style="padding-left: 15px">New to SpringReddit? <a routerLink="/sign-up">Sign Up</a></span>
            </span>

            <div class="login-failed">
              <p class="login-failed-text">Login Failed. Please check your credentials and try again.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
